* {
    margin:0;padding:0;
}

html, body { height: 100%; margin: 0; padding: 0; }

#wrapper {
    border: 1px solid grey;
    width:700px;
    padding:10px;
}

body {
    font-family: sans-serif;
    font-size: 18px;    
}
#map_canvas {
    border:2px gray solid;
    margin:0 auto;
    height:400px;
    position:relative;
}
#box {
    /* outline: 1px solid blue; */
    padding-top: 10px;
    padding-bottom: 10px;
}
#punkta, #punktb {
    /* border-bottom: 1px solid red; */
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.pointAB {
    padding-top: 5px;
}
#odleglosc {
    overflow: hidden;
}

#punkta div:nth-child(1), #punkta div:nth-child(3), #punkta div:nth-child(5),
#punktb div:nth-child(1), #punktb div:nth-child(3), #punktb div:nth-child(5) {
    float:left;
}
#odleglosc div:nth-child(1), #odleglosc div:nth-child(3)  {
    width:180px;
    float:left;
} 
#odleglosc #wynik {
    width:180px;
    float:left;
}       
input {
    width:200px;
    border: none;
    background-color: #eee;
    border-bottom:1px solid gray;
    padding: 5px;
    font-size: 18px; 
}  
button {
    width:80px;
    text-align: center;
    padding: 5px;
}
.szer, .dl {
    margin-left: 30px;
    overflow: hidden;
    float:left;
    padding-top: 5px;
}  
.szer {
    width:50px;
}  
.dl {
    width:30px;
}  